@import "tailwindcss";
@import "@fontsource-variable/geist";

:root {
  --color-bg-primary: #0f0e0e;
  --color-text-primary: #ecede6;
  --color-orange: #f95b1c;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'Geist Variable', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
